<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p class="subtitle">Designed by Saul Ocampo</p>
      <a href="https://github.com/digitalh2o2" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/digitalh2ocode" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
