<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item subtitle" href="/">
      Home
    </a>
    <div class="navbar-burger burger">
       <span></span>
       <span></span>
       <span></span>
     </div>
   </div>
    {{#if todos }}
      <div class="navbar-end navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/user/profile">
            Profile
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/todos/create">
              Create Todo
            </a>
            <a class="navbar-item" href="/todos">
              Your Todos
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/logout">
              Log Out
            </a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="navbar-end navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/users/login">
            Log In
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/user/new">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    {{/if}}
  <script type="text/javascript" src="/assets/toggle.js"></script>
</nav>
