<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>New Todo</title>
  </head>
  <body class="site">

    {{> nav }}

    <section class="hero site-content is-primary has-text-centered">
      <div class="container">
        <h1 class="title">
          Create New Todo
        </h1>
      </div>
    </section>

    <section class="section site-content">
      <div class="container button-field">
        <div class="field">
          <h3 class="subtitle">Create Your Todo Below</h3>
          <div class="field">
            <form action="/todos" method="post">
              <label for="title">Title</label><br>
              <input class="input" type="text" name="title" placeholder="Enter Title">
              <br>
              <label for="todo_information">Todo Information</label><br>
              <textarea class="textarea" name="todoinfo" placeholder="Please enter your todo"></textarea><br>
              <button class="button is-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}

  </body>
</html>
