<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>New User</title>
  </head>
  <body class="site">

    {{> nav }}

    <section class="section site-content">
      <div class="container button-field">
        <div class="field">
          <h3 class="subtitle">Create A New User</h3>
          <div class="field">
            <form action="/user/complete" method="post">
              <label for="email">Email</label><br>
              <input class="input" type="text" name="email" placeholder="Enter Email">
              <br>
              <label for="password">Enter password</label><br>
              <input class="input" type="password" name="password" placeholder="Enter Password">
              <br>
              <br><button class="button is-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}

  </body>
</html>
