<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Your Profile</title>
  </head>
  <body>
    {{> nav }}
    <section class="hero is-primary has-text-centered">
      <div class="container">
        <h1 class="title">
          Todo App
        </h1>
      </div>
    </section>

    <section class="section">
      <div class="container button-field">
        <div class="field">
          <h3 class="subtitle">Your Profile</h3>
          {{user.email}}
        </div>
      </div>
    </section>
  </body>
</html>
