<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Update Todo</title>
  </head>
  <body>
    {{> nav }}
    <section class="hero is-primary has-text-centered">
      <div class="container">
        <h1 class="title">
          Update Todo
        </h1>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <label class="label" for="title">Title</label>
            <h3 class="title input" id="title"contenteditable="true">{{todo.title}}</h3>
            <label class="label" for="todoinfo">Information</label>
            <textarea class="textarea" id="info" contenteditable="true">{{todo.todoinfo}}</textarea>
            <br>
            <button type="button" class="updateTodo button is-warning" id="{{todo.id}}">Update</button>
          </div>
        </div>

      </div>
    </section>
    <script type="text/javascript" src="/assets/update.js"></script>
  </body>
</html>
