<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Update Todo</title>
  </head>
  <body class="site">

    {{> nav }}

    <section class="hero site-content is-primary has-text-centered">
      <div class="container">
        <h1 class="title">
          Update Todo
        </h1>
      </div>
    </section>

    <section class="section site-content">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <label class="label" for="title">Title</label>
            <h3 class="title input" id="title"contenteditable="true">{{todo.title}}</h3>
            <label class="label" for="todoinfo">Information</label>
            <textarea class="textarea" id="info" contenteditable="true">{{todo.todoinfo}}</textarea>
            <input type="hidden" id="author" name="_author" value="{{todo._author}}">
            <br>
            <button type="button" class="updateTodo button is-warning"  id="{{todo.id}}">Update</button>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}

    <script type="text/javascript" src="/assets/update.js"></script>
  </body>
</html>
