<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Users</title>
  </head>
  <body>
    {{> nav }}
    <section class="section">
      <div class="container">
        {{#each users}}
        <li>{{this.email}}</li>
        {{/each}}
      </div>
    </section>
  </body>
</html>
